{% extends 'base.html' %}
{% load static %}

{% block title %}
    CV Link Change Password Page
{% endblock %}

{% block content %}

    <h1>Change Password</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-buttons">
            <button>Change Password</button>
            {% if request.user.account_type == 'Talent' %}
                <button type="button"><a href="{% url 'talent-dashboard' %}">Cancel</a></button>
            {% elif request.user.account_type == 'Recruiter'%}
                <button type="button"><a href="{% url 'recruiter-dashboard' %}">Cancel</a></button>
            {% endif %}
        </div>

    </form>


{% endblock %}