{% extends 'base.html' %}
{% load static %}

{% block title %}
    CV Link Logout Page
{% endblock %}

{% block content %}

    <h1>Logout</h1>
    <form method="post" action="{% url 'logout-confirmation-page' %}">
        {% csrf_token %}

        <div class="form-buttons">
            <button>Logout</button>
            {% if request.user.account_type == 'Talent' %}
                <button type="button"><a href="{% url 'talent-dashboard' %}">Cancel</a></button>
            {% elif request.user.account_type == 'Recruiter'%}
                <button type="button"><a href="{% url 'recruiter-dashboard' %}">Cancel</a></button>
            {% endif %}
        </div>
    </form>


{% endblock %}