{% extends 'base.html' %}
{% load static %}

{% block title %}
    CV Link Delete Account Page
{% endblock %}

{% block content %}

    <h1>Delete Account</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-buttons">
            <button>Delete Account</button>
            {% if request.user.account_type == 'Talent' %}
                <button type="button"><a href="{% url 'talent-dashboard' %}">Cancel</a></button>
            {% elif request.user.account_type == 'Recruiter'%}
                <button type="button"><a href="{% url 'recruiter-dashboard' %}">Cancel</a></button>
            {% endif %}
        </div>

    </form>


{% endblock %}