{% extends 'base.html' %}
{% load static %}

{% block title %}
    CV Link Edit Profile Page
{% endblock %}

{% block content %}

    <h1>Edit Profile</h1>
    <h2>{{ request.user }}</h2>
     <form action="{% url 'talent-edit-profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-buttons">
            <button>Edit Profile</button>
            <button type="button"><a href="{% url 'talent-dashboard' %}">Cancel</a></button>
        </div>
    </form>
{% endblock %}