{% extends 'base.html' %}
{% load static %}

{% block title %}
    CV Link Dashboard Page
{% endblock %}

{% block content %}

    <h1>Talent Dashboard</h1>
    <h2>Welcome, {{ request.user }}</h2>

    <section class="dashboard-layout">

        <div class="profile-info">
            <h4>First Name:</h4>
            {% if talent_profile.first_name %}
                <p>{{ talent_profile.first_name }}</p>
            {% else %}
                <p>Please fill your first name</p>
            {% endif %}

            <h4>Last Name:</h4>
            {% if talent_profile.last_name %}
                <p>{{ talent_profile.last_name }}</p>
            {% else %}
                <p>Please fill your last name</p>
            {% endif %}

            <h4>Birth Date:</h4>
            {% if talent_profile.birth_date %}
                <p>{{ talent_profile.birth_date }}</p>
            {% else %}
                <p>Please fill your birth date</p>
            {% endif %}

            <h4>City:</h4>
            {% if talent_profile.city %}
                <p>{{ talent_profile.city }}</p>
            {% else %}
                <p>Please fill your city</p>
            {% endif %}

            <h4>Introduction:</h4>
            {% if talent_profile.introduction %}
                <p>{{ talent_profile.introduction }}</p>
            {% else %}
                <p>Please fill your introduction</p>
            {% endif %}

            <h4>Email</h4>
            <p>{{ request.user.email }}</p>

        </div>

        <div class="education-info">
            <h3>Education</h3>
            {% if talent_profile.education_set.count == 0 %}
                <p><a href="{% url 'talent-create-education' pk=talent_profile.pk %}" >Please add your education</a></p>
            {% else %}
                {% for education in talent_profile.education_set.all %}
                    <div class="education-card">
                        <h4>Institution</h4>
                        <p>{{ education.institution }}</p>
                        <h4>Degree</h4>
                        <p>{{ education.degree }}</p>
                        <h4>Field of Study</h4>
                        <p>{{ education.field_of_study }}</p>
                        <h4>City</h4>
                        <p>{{ education.city }}</p>
                        <h4>Country</h4>
                        <p>{{ education.country }}</p>
                        <h4>Description</h4>
                        <p>{{ education.description }}</p>
                        <h4>From</h4>
                        <p>{{ education.start_date }}</p>
                        <h4>To</h4>
                        {% if education.end_date %}
                            <p>{{ education.end_date }}</p>
                        {% else %}
                            <p>Present</p>
                        {% endif %}
                        <a href="{% url 'talent-edit-education' pk=education.pk %}">Edit</a>
                        <a href="{% url 'talent-delete-education' pk=education.pk %}">Delete</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="profile-edit">
            <ul role="list">
                <li><a href="{% url 'talent-edit-profile' %}">Edit Profile</a></li>
                <li><a href="{% url 'talent-create-education' pk=talent_profile.pk %}" >Add Education</a></li>
                <li><a href="{% url 'change-password-page' %}">Change Password</a></li>
                <li><a href="{% url 'delete-page' %}">Delete Account</a></li>
            </ul>
        </div>

    </section>
{% endblock %}