{% extends 'base.html' %}
{% load static %}

{% block title %}
    CV Link Add Tech Stack Page
{% endblock %}

{% block content %}

    <h1>Add Tech Stack</h1>
    <h2>{{ request.user }}</h2>
     <form action="{% url 'talent-create-tech-stack' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-buttons">
            <button>Add Tech Stack</button>
            <button type="button"><a href="{% url 'talent-dashboard' %}">Cancel</a></button>
        </div>
    </form>
{% endblock %}