{% extends 'base.html' %}
{% load static %}

{% block title %}
    CV Link Add Work Experience Page
{% endblock %}

{% block content %}

    <h1>Add Work Experience</h1>
    <h2>{{ request.user }}</h2>
     <form action="{% url 'talent-create-work-experience' pk=talent.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-buttons">
            <button>Add Work Experience</button>
            <button type="button"><a href="{% url 'talent-dashboard' %}">Cancel</a></button>
        </div>
    </form>
{% endblock %}