{% extends 'base.html' %}
{% load static %}

{% block title %}
    CV Link Create Address Page
{% endblock %}

{% block content %}

    <h1>Edit Profile</h1>
    <h2>{{ request.user }}</h2>
     <form action="{% url 'recruiter-create-address' pk=recruiter.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-buttons">
            <button>Add Address</button>
            <button type="button"><a href="{% url 'recruiter-dashboard' %}">Cancel</a></button>
        </div>
    </form>
{% endblock %}