{% load static %}
<div class="home-logo">

    <a href="{% url 'home-page' %}">
        <img src="{% static 'images/favicon.png' %}" alt="">
    </a>
</div>

<nav class="header-nav-links">
    <ul role="list">
        {% if not request.user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'register-page' %}">Register</a></li>
            <li class="nav-item"><a href="{% url 'login-page' %}">Login</a></li>
        {% else %}
            <li class="nav-item"><a href="{% url 'delete-page' %}">Delete Account</a></li>
            <li class="nav-item"><a href="{% url 'logout-page' %}">Logout</a></li>
        {% endif %}
    </ul>
</nav>



