{% extends 'base.html' %}
{% load static %}

{% block title %}
    CV Link Home Page
{% endblock %}

{% block content %}

    <h1>Welcome to CV Link</h1>
    <h2>The modern platform where you can find the perfect job candidate for your company with few easy steps</h2>

    <h3>If you are a company:</h3>
    <p>1. Register as a Recruiter</p>
    <p>2. Fill up your info</p>
    <p>3. Start browsing the perfect candidate with your desired skills and experience</p>

    <h3>If you are a talent who wants to be discovered</h3>
    <p>1. Register as a Talent</p>
    <p>2. Build your CV</p>
    <p>3. Wait the companies to approach you</p>

    <h1>Home Page, {{ request.user }} {{ request.user.account_type }}</h1>

    {% if request.user %}
        {% if request.user.account_type == 'Talent' %}
            <h2><a href="{% url 'talent-dashboard' %}">Talent Dashboard</a></h2>
        {% elif request.user.account_type == 'Recruiter'%}
            <h2><a href="{% url 'recruiter-dashboard' %}">Recruiter Dashboard</a></h2>
        {% endif %}

    {% endif %}


{% endblock %}